@model Quiz.AspNetUI.ViewModels.QuizViewModel
@{
    ViewData["Title"] = "Quiz";
    Layout = "";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Quiz/Index.css">
</head>

<body>
<div class="container">
    <header>
        <div class="question-counter">
            <p>Questions remaining: @Model.RemainingQuestions</p>
        </div>
    </header>

    <section class="question-section">
        <p class="question-text">@Model.CurrentQuestion!.Text</p>
        @if (string.IsNullOrEmpty(Model.CurrentQuestion!.TextSecond) == false)
        {
            <p class="question-text-second-part">__________ @Model.CurrentQuestion!.TextSecond.</p>
        }
    </section>

    <section class="options-section">
        <form class="questionsForm" asp-action="Index" method="post">
            <input type="hidden" name="QuizId" value="@Model.QuizId"/>
            
            @for (var i = 0; i < Model.CurrentQuestion.Options.Count; i++)
            {
                var id = $"opt_{i}";
                <div class="question-div">
                    <input type="checkbox"
                           asp-for="SelectedAnswer[i]"
                           id="@id"
                           class="hidden-radio" />
                    <label class="question-element" for="@id">
                        @Model.CurrentQuestion.Options[i]
                    </label>
                </div>
            }

            <div class="buttons">
                <button type="submit" class="submit-button">Submit</button>
            </div>
        </form>
    </section>
</div>

</body>
</html>